data/dataset-s2
data/dataset-l578
data/tfrecord-s2
data/tfrecord-l578
data/dataset-s2-deprecated
data/tfrecord-s2-deprecated
data/test-data
result/
data/visualization-gis
model/pretrained/*
!model/pretrained/watnet*
.vscode
.DS_Store
*__pycache__/
dataloader/tfrecord_writer_landsat.ipynb
